@charset "UTF-8";

body {
  max-inline-size: 800px;
  padding: 0 10px;
  margin: 20px auto;
  background: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  line-height: 1.4;
  color: #363636;
  text-rendering: optimizeLegibility;
}

button,
input,
textarea {
  transition: background-color 0.1s linear, border-color 0.1s linear, color 0.1s linear,
    box-shadow 0.1s linear, transform 0.1s ease;
}

h1 {
  margin-block-start: 0;
  font-size: 2.2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-end: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong,
th {
  font-weight: 600;
}

blockquote {
  padding: 0.5em 1em;
  border-inline-start: 4px solid #0096bfab;
  margin: 1.5em 0;
  font-style: italic;
}

blockquote > footer {
  margin-block-start: 10px;
  font-style: normal;
}

blockquote cite {
  font-style: normal;
}

address {
  font-style: normal;
}

a[href^="mailto"]::before {
  content: "📧 ";
}

a[href^="tel"]::before {
  content: "📞 ";
}

a[href^="sms"]::before {
  content: "💬 ";
}

button,
input[type="submit"],
input[type="button"],
input[type="checkbox"] {
  cursor: pointer;
}

input:not([type="checkbox"]):not([type="radio"]),
select {
  display: block;
}

input,
select,
button,
textarea {
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 6px;
  margin-block-end: 6px;
  margin-inline-end: 6px;
  background-color: #efefef;
  font-family: inherit;
  font-size: inherit;
  color: #000;
}

input:not([type="checkbox"]):not([type="radio"]),
select,
button,
textarea {
  appearance: none;
}

textarea {
  box-sizing: border-box;
  inline-size: 100%;
  resize: vertical;
  margin-inline-end: 0;
}

button,
input[type="submit"],
input[type="button"] {
  padding-inline: 30px;
}

button:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
  background: #ddd;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
  box-shadow: 0 0 0 2px #0096bfab;
}

input[type="checkbox"]:active,
input[type="radio"]:active,
input[type="submit"]:active,
input[type="button"]:active,
button:active {
  transform: translateY(2px);
}

input:disabled,
select:disabled,
button:disabled,
textarea:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

::input-placeholder {
  color: #949494;
}

:input-placeholder {
  color: #949494;
}

::input-placeholder {
  color: #949494;
}

::placeholder {
  color: #949494;
}

a {
  text-decoration: none;
  color: #0076d1;
}

a:hover {
  text-decoration: underline;
}

code,
kbd {
  padding: 5px;
  border-radius: 6px;
  background: #efefef;
  color: #000;
}

pre > code {
  display: block;
  padding: 10px;
  overflow-x: auto;
}

img {
  max-inline-size: 100%;
}

hr {
  border: none;
  border-block-start: 1px solid #dbdbdb;
}

table {
  inline-size: 100%;
  margin-block-end: 10px;
  border-collapse: collapse;
}

td,
th {
  padding: 6px;
  text-align: start;
}

th {
  border-block-end: 1px solid #dbdbdb;
}

tbody tr:nth-child(even) {
  background-color: #efefef;
}

::-webkit-scrollbar {
  inline-size: 10px;
  block-size: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 6px;
  background: #efefef;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: #d5d5d5;
}

::-webkit-scrollbar-thumb:hover {
  background: #c4c4c4;
}
