@charset "UTF-8";

body {
	max-width: 800px;
	padding: 0 10px;
	margin: 20px auto;
	background: #fff;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	line-height: 1.4;
	color: #363636;
	text-rendering: optimizeLegibility;
}

button,
input,
textarea {
	transition: background-color 0.1s linear, border-color 0.1s linear, color 0.1s linear,
		box-shadow 0.1s linear, transform 0.1s ease;
}

h1 {
	margin-top: 0;
	font-size: 2.2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
	color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong,
th {
	font-weight: 600;
}

blockquote {
	padding: 0.5em 1em;
	border-left: 4px solid #0096bfab;
	margin: 1.5em 0;
	font-style: italic;
}

blockquote > footer {
	margin-top: 10px;
	font-style: normal;
}

blockquote cite {
	font-style: normal;
}

address {
	font-style: normal;
}

a[href^="mailto"]::before {
	content: "📧 ";
}

a[href^="tel"]::before {
	content: "📞 ";
}

a[href^="sms"]::before {
	content: "💬 ";
}

button,
input[type="submit"],
input[type="button"],
input[type="checkbox"] {
	cursor: pointer;
}

input:not([type="checkbox"]):not([type="radio"]),
select {
	display: block;
}

input,
select,
button,
textarea {
	padding: 10px;
	outline: none;
	border: none;
	border-radius: 6px;
	margin-right: 6px;
	margin-bottom: 6px;
	background-color: #efefef;
	font-family: inherit;
	font-size: inherit;
	color: #000;
}

input:not([type="checkbox"]):not([type="radio"]),
select,
button,
textarea {
	-webkit-appearance: none;
}

textarea {
	box-sizing: border-box;
	width: 100%;
	resize: vertical;
	margin-right: 0;
}

button,
input[type="submit"],
input[type="button"] {
	padding-right: 30px;
	padding-left: 30px;
}

button:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
	background: #ddd;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	box-shadow: 0 0 0 2px #0096bfab;
}

input[type="checkbox"]:active,
input[type="radio"]:active,
input[type="submit"]:active,
input[type="button"]:active,
button:active {
	transform: translateY(2px);
}

input:disabled,
select:disabled,
button:disabled,
textarea:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

::-webkit-input-placeholder {
	color: #949494;
}

:-ms-input-placeholder {
	color: #949494;
}

::-ms-input-placeholder {
	color: #949494;
}

::placeholder {
	color: #949494;
}

a {
	text-decoration: none;
	color: #0076d1;
}

a:hover {
	text-decoration: underline;
}

code,
kbd {
	padding: 5px;
	border-radius: 6px;
	background: #efefef;
	color: #000;
}

pre > code {
	display: block;
	padding: 10px;
	overflow-x: auto;
}

img {
	max-width: 100%;
}

hr {
	border: none;
	border-top: 1px solid #dbdbdb;
}

table {
	width: 100%;
	margin-bottom: 10px;
	border-collapse: collapse;
}

td,
th {
	padding: 6px;
	text-align: left;
}

th {
	border-bottom: 1px solid #dbdbdb;
}

tbody tr:nth-child(even) {
	background-color: #efefef;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	border-radius: 6px;
	background: #efefef;
}

::-webkit-scrollbar-thumb {
	border-radius: 6px;
	background: #d5d5d5;
}

::-webkit-scrollbar-thumb:hover {
	background: #c4c4c4;
}
