main {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

h1 {
  text-align: center;
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 12rem;
  margin-top: 3rem;
  text-align: center;
}

.row > * {
  place-self: center;
}
